.adv1{
	float: left;
	top: 70px;
	position: absolute;
    box-shadow: 5px 10px 5px #888888;
}
.adv2{
	float: left;
	top: 70px;
	margin-left: 380px;
	position: absolute;
    box-shadow: 5px 10px 5px #888888;
}
.adv3{
	float: left;
	top: 70px;
	margin-left: 760px;
	position: absolute;
    box-shadow: 5px 10px 5px #888888;
}
.adv4{
	float: left;
	top: 70px;
	margin-left: 1150px;
	position: absolute;
    box-shadow: 5px 10px 5px #888888;
}
.adv5{
	float: left;
	top: 300px;
	position: absolute;
    box-shadow: 5px 10px 5px #888888;
}
.adv6{
	float: left;
	top: 300px;
	margin-left: 380px;
	position: absolute;
    box-shadow: 5px 10px 5px #888888;
}
.adv7{
	float: left;
	top: 300px;
	margin-left: 760px;
	position: absolute;
    box-shadow: 5px 10px 5px #888888;
}
.adv8{
	float: left;
	top: 300px;
	margin-left: 1150px;
	position: absolute;
    box-shadow: 5px 10px 5px #888888;
}
.adv9{
	float: left;
	top: 530px;
	position: absolute;
    box-shadow: 5px 10px 5px #888888;
}
.adv10{
	float: left;
	top: 530px;
	margin-left: 380px;
	position: absolute;
    box-shadow: 5px 10px 5px #888888;
}
.adv11{
	float: left;
	top: 530px;
	margin-left: 760px;
	position: absolute;
    box-shadow: 5px 10px 5px #888888;
}
.adv12{
	float: left;
	top: 530px;
	margin-left: 1150px;
	position: absolute;
    box-shadow: 5px 10px 5px #888888;
}